// google fonts import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500&display=swap");

$selection-font-color: #aefeff;
$background-color: #072227;
$selection-color: #35858b;
$font-color: #4fbdba;

body {
  background-color: $background-color;
  font-family: poppins;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 0.8rem;
  overflow-x: hidden;
  width: 100vw;
}
::selection {
  background-color: $selection-font-color;
  color: $selection-color;
  font-weight: 500;
}

// scroll-bar for Chrome

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: $selection-color;
  border-radius: 1em;
  margin-block: 1.4em;
}
::-webkit-scrollbar-thumb {
  background-color: $selection-font-color;
  border-radius: 1em;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $selection-color $selection-font-color;
    scrollbar-width: thin;
  }
}
.container {
  display: grid;
  place-items: center;
  .heading {
    margin-top: 0;
    text-decoration: underline;
    width: max-content;
    font-family: montserrat;
  }
  margin-block: 1em;
  img {
    height: 30rem;
    width: 30rem;
  }
  p,
  li {
    width: 40ch;
  }
}
hr {
  //   height: 0.5rem;
  border: 0.1rem dashed $selection-font-color;
  display: grid;
  place-items: center;
  width: 40vw;
}

img.exp {
  height: 15rem;
  width: 30rem;
  border-radius: 1em;
  // float: right;
}

li {
  margin-block: 1em;
}

.zero {
  margin: 0;
  font-family: Poppins;
}

.heading:nth-of-type(4) {
  margin-inline: 5em;
}

@media (min-width: 1000px) {
  .float {
    display: flex;
    flex-direction: row;
    gap: 3em;
  }
}

@media (min-width: 1090px) {
  body {
    font-size: 1.3rem;
  }
}

.footer {
  background-color: $selection-color;
  display: flex;
  justify-content: center;
  margin: 1em;
  gap: 2em;
  transform: scale(2);
  // width: 30rem;
  // margin-left: 20%;
  // margin-right: 20%;
  // height: 6rem;
  margin-right: 0;
  h1 {
    margin-left: 1em;
  }
  img {
    height: 6em;
    opacity: 50%;
    border-radius: 10em;
    position: absolute;
  }
}
